.levers {
  padding: 10px;
}

.all-levers {
  overflow-y: auto;
  height: calc(100%);
}

.levers-wrapper {
  height: calc(100% - 160px);
  border: 2px solid #ababaa;
}

/* width */
.all-levers::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.all-levers::-webkit-scrollbar-track {
  background: rgb(247, 246, 246); 
}

/* Handle */
.all-levers::-webkit-scrollbar-thumb {
  background: #ababab;
}

/* Handle on hover */
.all-levers::-webkit-scrollbar-thumb:hover {
  background: #bababa;
}

