.pathway {
  margin-bottom: 25px;
}

.pathway .lead {
  margin-bottom: 10px;
}

.pathway > div {
  background: #add6e4;
  border: 2px solid #ababab;
  box-shadow: 0 0 10px #c6c5c5;
  padding: 10px;
}
