.pathway {
  padding: 10px;
}

.pathway h4 {
  font-weight: bold;
  margin-bottom: 5px;
}

.pathway .lead {
  margin-bottom: 4px;
}

.pathway div {
  background: #d4d4d4;
  padding: 10px;
  border-radius: 5px;
}
