/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

/* RESET CSS */
html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}
body,
h1, h2, h3, h4, h5, h6, 
ul, ol, li,
p, pre, blockquote, figure, hr {
    margin: 0;
    padding: 0;
}
ul {list-style: none;}
a {text-decoration: none;}
button {
    background-color: transparent;
    border-radius: 0; 
}
button * {pointer-events: none;}
input, textarea, select, button {
    color: inherit; 
    font: inherit; 
    letter-spacing: inherit; 
}
img, video, object, embed, iframe {
    display: block;
    max-width: 100%;
    border-style: none;
}
noscript {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* TYPOGRAPHY */
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;
}
code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;}

/* APP DESIGN */
#root {
    display: grid;
    grid-template-columns: minmax(375px, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* WAVES EFFECT */
.waves {
    background-position: center;
    transition: background 0.8s;
}
.waves:hover {
    background-image: radial-gradient(circle, transparent 1%, currentColor 1%);
    background-position: center;
    background-size: 10000%;
}
.waves:active {
    background-color: currentColor;
    background-size: 100%;
    transition: background 0s;
}